body{
    background-color: #232323;
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.square{
    width:30%;
    background-color: purple;
    padding-bottom: 30%;
    margin:1.66%;
    float:left;
    border-radius: 15%;
    transition: background 0.6s;
    --webkit-transition:background 0.6s;
    --moz-transition:background 0.6s;
}

#container{
    max-width :600px;
    margin:20px auto;
}
h1{
    color:white;
    line-height:1.1;
    font-weight: normal;
    text-align:center;
    background: steelblue;
    margin : 0;
    text-transform: uppercase;
    padding: 20px 0;
}
/* span{
    color:yellow;
} */
#stripe{
    background-color: white;
    height:30px;
    text-align: center;
    color: black;
}
.selected{
    color: white;
    background-color: steelblue;
}
#colorDisplay{
    font-size:200% ;
}
button{
    border:none;
    background: none;
    text-transform: uppercase;
    height:100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: inherit;
    transition: all,0.4s;
}
button:hover{
    color: white;
    background-color: steelblue;
}
#message{
    display: inline-block;
    width: 20%;
}